//@import "layouts/loader";
@import "base/normalize";

// Abstract
@import "abstract/constants";
@import "abstract/placeholder";
@import "abstract/mixin";

// Base
@import "base/fonts";
@import "base/base";
@import "base/buttons";

// Layouts
@import "layouts/header";
@import "layouts/footer";
@import "layouts/bg-slider";
@import "layouts/timer";
@import "layouts/greeting";
@import "layouts/settings";
@import "layouts/weather";
@import "layouts/quote";
@import "layouts/audiopayer";

//Components
