.player-section {
  width: 230px;
  min-height: 220px; 
  
  padding: 10px 10px 30px 10px;
  border-radius: 10px; 
  border: 3px solid $color-light;  
  background-color: rgba(0, 0, 0, 0.5);
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: $color-primary;
}
.item-active {
  color: $color-primary;
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;  
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/icons/play.svg");
}

.pause {
  background-image: url("../assets/icons/pause.svg");
}

.play-prev {
  background-image: url("../assets/icons/play-prev.svg");
}

.play-next {
  background-image: url("../assets/icons/play-next.svg");
}