.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;

  width: 42px;
  height: 42px;
  background-size: 42px 42px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;  
  &:hover {
  opacity: 1;
}
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/icons/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/icons/slider-next.svg");
}