.footer {
  display: flex;
  justify-content: center;
  background-color: $color-footer;
  min-width: 320px;
}

.footer-wrapper {
  width: 50%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}