.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100vw;
  @include font($font2, #{$font2 * 1.5}, 400);
  margin-bottom: 20px;
}

.greeting {
  padding: 10px;
  text-align: right;
}

.name {
  max-width: 400px;
  text-align: left;
  color: $color-light;
  background-color: transparent;
  border: 0;  
  outline: 0;
}

.name::placeholder {
  color: $color-light;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .greeting-container {
    min-height: 30px;
    @include font($font3, #{$font3 * 1.5}, 400);
  }
  .name {
    text-align: center;
  }
}