.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  width: 64px;
  height: 64px;
  background-image: url("../assets/icons/settings.svg");
  background-size: 64px 64px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;  
  &:hover {
    opacity: 1;
    transform: rotate(180deg);
  }
}

.settings-form {
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 100;

  max-width: 300px;
  padding: 10px 10px 30px 10px;
  border-radius: 10px; 
  border: 3px solid $color-light;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  &.opened {
    opacity: 1;
  }

  @media (max-width: 768px) {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
