html {
  scroll-behavior: smooth; 
}

body {
  min-width: 480px;
  min-height: 100vh;
  @extend %font-primary;
  @include font($font5, #{$font5}, 300);
  background: url("../assets/image/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  color: $color-light;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

h1 {
  @include font($font1, #{$font1});
}

h2 {
  @include font($font2, #{$font2});
}

h3 {
  @include font($font3, #{$font3});
}

h4 {
  @include font($font4, #{$font4});
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

._wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
