.button {
  @extend %font-primary;
  @include font($size: $font4, $weight: 300);
  border: none;
  @extend %transition;
  cursor: pointer;
  
  &_colored {
    background-color: $color-primary;
    color: $color-light;
    letter-spacing: 2px;
    &:hover {
      color: $color-light;
      background-color: $color-additional;
    }
  }
}

.button-big {
  border-radius: 10px;
  padding: 24px 64px;
}
