$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1440px;
$mq1: $max-width-container;
$mq2: 1024px;
$mq3: 768px;
$mq4: 420px;

$color-background: #343d46;
$color-footer: #242b31;
$color-primary: #467ffb;
$color-additional: #ffffff;
$color-disabled: #c7c7c7;
$color-light: #FFFFFF; 
$color-dark: #000000;

$font1: 6rem;
$font2: 3rem;
$font3: 2rem;
$font4: 1.5rem;
$font5: 1rem;